@import "./_globals/_variables.scss";
@import "./_globals/_fonts.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  display: none;
}

@import "./_globals//parts/alerts.scss";
@import "./_globals//parts/bg.scss";
@import "./_globals//parts/btn.scss";
@import "./_globals//parts/text.scss";
