$primary: #3eadb7;
$secondary: #4e1b56;
$gray: #9d9d9d;
$dark-gray: #595a5a;
$light-gray: #eeeeee;
$dark: #040506;
$gray-50: rgba(201, 201, 201, 0.23);
$formColor: #ced4da;

//mobile&tablet
$maxMobile: 576px;
//small screen
$minSmall: 768px;
//medium screen
$maxMedium: 1024px;
//large screen
$minLarge: 1640px;
