.input-primary,
.input-primary:focus {
  background-color: $primary;
  border-color: $primary;
  color: white;
  box-shadow: none !important;

  &:hover,
  &:active {
    background-color: $secondary;
    color: white;
    border-color: $secondary;
    box-shadow: none !important;
  }

  &:focus,
  &:focus-visible {
    box-shadow: none !important;
    border: 0;
  }
}
.input-secondary,
.input-secondary:focus {
  background-color: $secondary;
  border-color: $secondary;
  color: white;
  box-shadow: none !important;

  &:hover,
  &:active {
    background-color: transparent;
    color: $secondary;
    border-color: $secondary;
    box-shadow: none !important;
  }
  &:focus,
  &:focus-visible {
    box-shadow: none !important;
  }
}

.input-outline-primary,
.input-outline-primary:focus {
  background-color: transparent;
  border-color: $primary;
  color: $primary;
  &:hover,
  &:active {
    background-color: $primary;
    color: white;
    border-color: $primary;
  }
  &:focus,
  &:focus-visible {
    box-shadow: none !important;
  }
}
.input-outline-secondary,
.input-outline-secondary:focus {
  background-color: transparent;
  border-color: $secondary;
  color: $secondary;

  &:focus,
  &:focus-visible {
    box-shadow: none !important;
  }
}

.input-login-google,
.input-login-google:focus {
  background-color: transparent;
  border-color: #ea4335;
  color: #ea4335;
  &:hover,
  &:active {
    background-color: #ea4335;
    color: white;
    border-color: #ea4335;
  }
  &:focus,
  &:focus-visible {
    box-shadow: none !important;
  }
}

.input-login-facebook,
.input-login-facebook:focus {
  background-color: transparent;
  border-color: #1977f3;
  color: #1977f3;
  &:hover,
  &:active {
    background-color: #1977f3;
    color: white;
    border-color: #1977f3;
  }
  &:focus,
  &:focus-visible {
    box-shadow: none !important;
  }
}
