.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $secondary !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-dark {
  color: $dark-gray !important;
}

.text-bold {
  font-weight: bold;
}
