.dash-btn {
  padding: 15px 72px;
  border-radius: 5px;
}
#chat{
  overflow: hidden!important;
}
.dash-profile-details .dash-profile-bio,
.dash-profile-details .dash-profile-address,
.dash-profile-details .dash-profile-email,
.dash-product-order,
.dash-product-details,
.dash-product .dash-old-price {
  color: #9d9d9d;
}

.dash-chat {
  position: relative;
  margin: 0 ;
  margin-top: 90px!important;
  margin-bottom: 0px!important;
}

.dash-chat .dash-contacts {
  height: 64%;
  padding: 20px 0px;
  background-color: #fff;
  overflow-y: hidden;
}

.dash-chat .dash-contacts-search {
  position: relative;
}

.dash-contacts-search input {
  display: block;
  width: 100%;
  border: none;
  color: #9d9d9d;
  font-size: 12px;
  padding: 12px;
  padding-left: 24px;
  background-color: rgba(62, 173, 183, 5%);
  border-radius: 4px;
}

.dash-contacts-search .icon {
  color: #9d9d9d;
  font-size: 24px;
  position: absolute;
  top: calc(50% - 12px);
  left: 0px;
}
.dash-list-contacts {
  height: 100%!important;
  overflow-y: scroll;
  padding: 0;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-top: 10px;
}
.dash-list-contacts::-webkit-scrollbar,.dash-chat .chat-attachment::-webkit-scrollbar {
    display: block!important;
}
.dash-list-contacts::-webkit-scrollbar,.dash-chat .chat-attachment::-webkit-scrollbar {
  width: 5px!important;
}
.dash-list-contacts::-webkit-scrollbar-track,.dash-chat .chat-attachment::-webkit-scrollbar-track {
  background: transparent!important;
}
.dash-list-contacts::-webkit-scrollbar-thumb,.dash-chat .chat-attachment::-webkit-scrollbar-thumb {
  background: #3eadb746!important;
  cursor: pointer;
  border-radius: 10px;
}
.dash-list-contacts::-webkit-scrollbar-thumb:hover,.dash-chat .chat-attachment::-webkit-scrollbar-thumb:hover {
  background: #3eadb7!important;
}
.dash-list-contacts .dash-contact-item {
  margin: 10px 0px;
  position: relative;
  padding: 10px;
}
.dash-list-contacts .dash-contact-item::after{
  content: "";
position: absolute;
bottom: 0;
left: 5%;
width: 90%;
height: 1px;
background-color: #F3F3F3;
}
.dash-list-contacts .dash-contact-item.active::before{
  content: "";
position: absolute;
top: 20%;
right: 2%;
width: 4px;
height: 60%;
background-color: #3eadb7;
border-radius: 310px;
}
.dash-list-contacts .dash-contact-item.active {
background-color: #F3F3F3!important;

}
.dash-list-contacts .dash-contact-item:hover {
  background-color:  #f3f3f33f;
}



.dash-contact-item .dash-contact-image {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.dash-contact-item .dash-contact-image img {
  border-radius: 50%;
  max-width: 85%;
  display: block;
  margin: auto;
}

.dash-contact-item .contact-name {
  padding-top: 8px;
  font-size: 16px;
  color: #4e1b56;
  margin-bottom: 14px;
}
.contanct{
  text-align: left;
  width: 100%;
}
.dash-contact-item .contact-last-message {
  font-size: 12px;
  color: #9b9b9b;
}
.contact-name-message{
  width: 100%;
  margin: 0;
}
.row.contact-name-message > div{
padding: 0px;
display: flex;
align-items: center;
margin-bottom: 0px;
}
.dash-contact-item .contact-time-count {
  position: relative;
}

.dash-contact-item .contact-last-messages-time {
  font-size: 12px;
  color: #9d9d9d;
}

.dash-contact-item .contact-last-messages-count {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #3eadb7;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 13px;
}

.dash-chat .chat-attachment {
  margin: 20px 0;
  padding:  20px 10px;
  background-color: #fff;
  position: relative;
  overflow-y: scroll;
    height: 65%;
  border: 1px solid #3eadb70e;
  border-radius: 10px;
}

.chat-product {
  margin-bottom: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(16, 27, 79, 10%);
}

.chat-product .product-info {
  display: flex;
  justify-content: space-between;
}

.chat-product .product-action-and-order {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-product .product-title {
  color: #040506;
  font-size: 20px;
  margin-bottom: 5x;
  font-weight: bold;
}

.chat-product .product-price-discount {
  display: flex;
}

.chat-product .product-price {
  color: #3eadb7;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  margin-right: 8px;
}

.chat-product .product-old-price {
  font-size: 16px;
  text-decoration: line-through;
}

.chat-product .product-btn.dash-btn {
  padding: 7px;
  background: none;
  border: 1px solid #3eadb7;
  color: #3eadb7;
  margin-bottom: 5px;
  font-weight: 400;
}

.chat-product .product-order {
  font-size: 20px;
  color: #9b9b9b;
}

.chat-product .product-details {
  font-size: 18px;
  margin-bottom: 15px;
}

.chat-attachment-tabs {
  margin-bottom: 20px;
}

.chat-attachment .tabs-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(16, 27, 79, 10%);
  margin-bottom: 15px;
}

.chat-attachment .tabs-links .link {
  font-size: 18px;
  color: #040506;
  text-align: center;
  cursor: pointer;
}

.chat-attachment .tabs-links .link.active {
  color: #3eadb7;
  font-weight: 700;
  position: relative;
}
.chat-attachment .tabs-links .link.active::after{
  content: "";
  position: absolute;
  bottom: -9.5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3eadb7;
}
.dash-agreement {
  border-bottom: 1px solid rgba(16, 27, 79, 10%);
  padding: 15px 0px;
}

.dash-agreement .agreement-title {
  font-size: 16px;
  font-weight: bold;
  color: #040506;
}

.dash-agreement .agreement-details {
  font-size: 18px;
  color: #9b9b9b;
}

.dash-agreement .agreement-details .read-agreement-btn {
  padding: 10px 0px;
  color: #3eadb7;
  border: 1px solid #3eadb7;
  font-weight: bold;
  font-size: 16px;
  flex-grow: 1;
  display: inline-block;
  margin-left: 10px;
  background-color: #fff;
}

.dash-history-calls {
  position: relative;
}
.page{
  min-height: unset!important;
}
.history-call {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(16, 27, 79, 10%);
  padding: 10px 0px;
}

.history-call .image {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.history-call .image img {
  display: block;
  margin: auto;
  border-radius: 50%;
  max-width: 100%;
}

.history-call .history-call-info {
  flex-grow: 1;
  margin: 0px 10px;
  text-align: left;
}

.history-call .history-call-contact {
  font-size: 18px;
}

.history-call .history-call-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #3eadb7;
}

.history-call.missed .history-call-status {
  color: #fb5b5b;
}

.history-call .history-call-time {
  font-size: 14px;
}

.history-call .history-call-icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  background-color: #3eadb7;
}

.history-call.missed .history-call-icon {
  background-color: #fb5b5b;
}

.dash-chat .chat-box {
  background-color: #f2f2f2;
  flex-grow: 1;
  height: calc(100vh - 80px);
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

div.chat-box ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
div.chat-box ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.chat-box ::-webkit-scrollbar-thumb {
  background: #9b9b9b;
}

/* Handle on hover */
div.chat-box ::-webkit-scrollbar-thumb:hover {
  background: #c9c9c9;
}

.chat-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: #fff;
}
.dash-has-menu:hover .dash-sub-menu{
  display: block;
}
.chat-box-menu.dash-has-menu .dash-sub-menu {
  left: initial;
  right: 0;
  max-width: 220px;
}

.chat-box .avatar-image {
  width: 40px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  margin-right: 18px;
}

.chat-box .avatar-image img {
  display: block;
  margin: auto;
  max-width: 100%;
  border-radius: 50%;
}

.chat-box .chat-box-contact {
  font-size: 18px;
  color: #040506;
  padding-right: 55px;
  border-right: 1px solid rgba(201, 201, 201, 25%);
}

.chat-box-header .chat-box-order {
  margin-left: 25px;
  font-size: 18px;
  color: #040506;
  flex-grow: 1;
}

.chat-box-header .chat-box-icon {
  width: 24px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #040506;
  border-radius: 50%;
  cursor: pointer;
}

.chat-box-header .dash-sub-menu {
  text-align: left;
}

.chat-box .chat-box-content {
  padding: 20px 60px;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 15px;
}

.chat-box .chat-box-content > * {
  margin-bottom: 40px;
}

.chat-box .chat-box-content .chat-time-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.chat-box .chat-box-content .chat-time-line > span,
.chat-box .chat-box-content .chat-time-line > div {
  font-size: 14px;
  color: #9b9b9b;
}

.chat-box .chat-box-content .chat-time-line::after,
.chat-box .chat-box-content .chat-time-line::before {
  content: "";
  height: 1px;
  background-color: #9d9d9d;
  flex-grow: 1;
}

.chat-box .chat-box-content .chat-time-line.missed::after,
.chat-box .chat-box-content .chat-time-line.missed::before {
  background-color: #fb5b5b;
}

.chat-box .chat-box-content .chat-time-line.call::after,
.chat-box .chat-box-content .chat-time-line.call::before {
  background-color: #e590b5;
}

.chat-box .chat-box-content .chat-time-line > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-box .chat-box-content .chat-time-line.missed {
  color: #fb5b5b;
}

.chat-box .chat-box-content .chat-time-line.call {
  color: #e590b5;
}

.chat-box .chat-box-content .chat-time-line::after {
  margin-left: 100px;
}

.chat-box .chat-box-content .chat-time-line::before {
  margin-right: 100px;
}

.chat-box .chat-box-sender,
.chat-box .chat-box-reciver {
  display: flex;
  justify-content: flex-start;
}

.chat-box .chat-box-reciver {
  direction: rtl;
}

.chat-box .chat-box-reciver > * {
  direction: ltr;
}

.chat-box .chat-box-reciver .avatar-image {
  margin-left: 18px;
  margin-right: initial;
}

.chat-box .chat-box-reciver .send-message-time {
  margin-right: 10px;
  margin-left: initial;
}

.chat-box .content-order-details,
.chat-box .content-chat-text {
  background: #fff;
  padding: 25px 20px;
  border-radius: 20px;
  max-width: 575px;
}

.chat-box .chat-box-reciver .content-order-details,
.chat-box .chat-box-reciver .content-chat-text {
  background: rgba(201, 201, 201, 23%);
}

.chat-box .content-order-details,
.chat-box .content-chat-text {
  border-top-left-radius: 0px;
}

.chat-box .chat-box-reciver .content-order-details,
.chat-box .chat-box-reciver .content-chat-text {
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
}

.chat-box .send-message-time {
  font-size: 14px;
  color: #9b9b9b;
  margin-left: 10px;
}

.chat-box .content-order-details .order-details-summary {
  font-size: 18px;
  font-weight: bold;
  color: #040506;
  margin-bottom: 20px;
}

.chat-box .content-order-details .order-details {
  max-width: 500px;
  margin: auto;
}

.chat-box .content-order-details .order-details-list {
  margin-bottom: 30px;
}

.chat-box .content-order-details .product-with-price {
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #040506;
  padding: 8px 0px;
}

.chat-box .content-order-details .product-with-price.total {
  border-bottom: none;
}

.chat-box .content-order-details .payment-method {
  border-bottom: 1px solid rgba(201, 201, 201, 25%);
  border-top: 1px solid rgba(201, 201, 201, 25%);
  padding: 12px 0px;
  margin-bottom: 10px;
}

.chat-box .content-order-details .payment-method .key {
  font-size: 20px;
  color: #040506;
  margin-right: 12px;
}

.chat-box .content-order-details .payment-method .value {
  color: #9d9d9d;
}

.chat-box .content-order-details .notes {
  font-size: 18px;
  color: #9d9d9d;
  margin-bottom: 62px;
}

.chat-box .content-order-details .status-order {
  font-size: 20px;
  color: #040506;
  padding: 10px 0px;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  text-align: center;
}

.chat-box .content-chat-text > *:not(:last-child) {
  margin-bottom: 10px;
}

.chat-box .content-chat-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.chat-box .content-chat-images .image {
  max-width: 120px;
}

.chat-box .content-chat-images .image img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.chat-box .content-chat-text .agreement-title {
  color: #000000;
  font-size: 18px;
  text-align: left;
  margin-bottom: 34px;
}

.chat-box .content-chat-text .agreement-details {
  padding: 5px;
}

.chat-box .content-chat-text .detail {
  font-size: 16px;
  color: #9d9d9d;
  padding: 10px 0px;
  border-bottom: 1px solid #9d9d9d;
  line-height: 24px;
}

.chat-box .content-chat-text .detail.center {
  text-align: center;
}

.chat-box .content-chat-text .detail .key {
  font-size: 20px;
  color: #040506;
}

.chat-box .content-chat-text .agreement-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.chat-box .content-chat-text .agreement-actions button {
  flex-grow: 1;
  width: 50%;
  color: #fff;
}

.chat-box .content-chat-text .agreement-actions button.btn-accept {
  background-color: #4e1b56;
  color: #fff;
}

.chat-box .content-chat-text .agreement-actions button.btn-cancel {
  background-color: #fb5b5b;
  color: #fff;
}

.dash-chat .chat-box-footer {
  margin: 20px auto;
  width: 96%;
  background-color: rgb(247, 247, 247);
}

.chat-box-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 4px;
}

.chat-box-footer .footer-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  border-right: 1px solid #fff;
  gap: 18px;
}

.chat-box-footer .footer-options li.option a {
  color: #040506;
  font-size: 18px;
}

.chat-box-footer .footer-text-message {
  flex-grow: 1;
  position: relative;
}

.chat-box-footer .footer-text-message input {
  padding: 18px;
  font-size: 18px;
  color: #9b9b9b;
  padding-right: 50px;
  border: none;
  background: none;
  width: 100%;
}

.chat-box-footer .footer-text-message .icon {
  position: absolute;
  right: 28px;
  top: 10px;
  font-size: 22px;
  color: #3eadb7;
  top: calc(50% - 9px);
}

.ringing-call {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #3eadb7;
  color: #fff;
  font-size: 18px;
  gap: 12px;
  border-radius: 20px;
}

.ringing-call {
  position: fixed;
  width: 300px;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.avatar-image.lg {
  width: 78px;
  height: 78px;
  line-height: 78px;
}

.ringing-call .ringing-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.ringing-call .ringing-actions .action {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
}

.ringing-call .ringing-actions .action-close {
  background-color: #fb5b5b;
  color: #fff;
}

.ringing-call .ringing-actions .action-answer {
  background-color: #ffffff;
  color: #3eadb7;
}

.dash-chat #open-contacts,
.dash-chat #close-contacts,
.chat-attachment #close-agreements,
.dash-chat #open-agreements {
  display: none;
}
.dash-chat #close-contacts{
  margin-left: auto;
  margin-right: 10px;
}
.dash-chat #open-contacts {
  margin-right: 15px;
 background-color: #fff;
  color: #3eadb7;
  border: 1px solid #3eadb7;
  padding: 7px 20px;
  transition: all .3s linear;
}

.dash-chat #open-agreements {
  margin-left: 15px;
  background-color: #fff;
  color: #3eadb7;
  border: 1px solid #3eadb7;
  padding: 7px 20px;
    transition: all .3s linear;
}
.dash-chat #open-agreements:hover,.dash-chat #open-contacts:hover{
 background-color: #3eadb7;
  border: 1px solid #eee;
  color: #fff;
  font-weight: 600;
}
.dash-btn.sm {
  padding: 12px 20px;
  font-size: 16px;
}

.dash-contacts #close-contacts,
.chat-attachment #close-agreements {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  padding: 6px 12px;
  border: 1px solid #fff;
  border-radius: 4px;
  display: none;
  width: 90px;
  margin-bottom: 20px;
  background-color: #3eadb7;
  position: relative;
}
.chat-attachment #close-agreements::after{
  content: "";
  width: 200px;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: #3eadb7;
}
.dash-chat #close-contacts::after{
  content: "";
  width: 200px;
  height: 1px;
  position: absolute;
  bottom: -10px;
  right: 0;
  background-color: #3eadb7;
}

.chat-box-footer .cannot-communication {
  border-radius: 10px;
  padding: 16px 20px;
  background: #fb5b5b;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1410px) {
.dash-contacts-search input {
  padding: 5px;
  padding-left: 40px;
  border-radius: 9px;
  height: 50px;
}
.dash-contacts-search .icon{
  font-size: 20px;
    top:50%;
    transform: translateY(-50%);
    left: 10px;
}
.chat-box-header{
  padding: 11px 30px;
}
.chat-box .avatar-image{
  width: 35px;
  height: 35px;
  line-height: 35px;
    margin-right: 11px;
}
.chat-box .chat-box-contact{
    font-size: 15px;
    padding-right: 25px;
  }
.chat-box-header .chat-box-order{
  font-size: 15px;
  text-align: left;
}
.dash-sub-menu li a{
    font-size: 14px!important;
}
.dash-sub-menu li a:hover{
  color: #3eadb7;
  font-weight: 600;
}
.dash-sub-menu{
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 2px 3px 14px #ddd;
}
.chat-box .chat-box-content .chat-time-line > span{
  font-size: 12px;
}
.chat-box .content-chat-text{
  padding: 15px 20px; 
  font-size: 14px;
  max-width: 70%;
}
.chat-box .send-message-time,.chat-box .chat-box-content .chat-time-line > div{
  font-size: 12px;
}
.chat-box .content-chat-images .image{
  max-width: 45%;
  width: 45%;
}
.chat-box .content-chat-images .image img{
  margin: 0;
  width: 90%;
}
.chat-box .content-chat-text .detail .key{
  font-size: 16px;
}
.chat-box .content-chat-text .detail{
  font-size: 14px;
}
h5{
  margin-bottom: 0!important;
}
.dash-btn{
  padding: 10px;
}
.chat-box-footer .footer-options,.chat-box-footer .footer-text-message input{
  padding: 10px 20px;
  margin: 0;
}
.chat-box-footer .footer-text-message .icon{
  top: 50%!important;
  transform: translateY(-50%);
}
.chat-product .product-title{
  font-size: 17px;
}
.chat-product .product-price{
  font-size: 16px;
}
.chat-product .product-old-price{
  font-size: 12px;
}
.chat-product .product-btn.dash-btn{
  padding: 2px 4px;
  margin-bottom: 0px;
  font-size: 14px;
}
.chat-product .product-order{
  font-size: 15px;
}
.chat-product .product-details{
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
}
.chat-product{
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.chat-attachment .tabs-links{
padding: 0;
}
.chat-attachment .tabs-links li{
  padding: 5px ;
}
.chat-attachment .tabs-links .link{
 font-size: 14px;
}

.dash-agreement{
  border: 1px solid #eee;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}
.dash-agreement .agreement-details{
  margin-bottom: 0px;
  font-size: 14px;
  margin-top: 10px;
}
.dash-agreement .agreement-details .read-agreement-btn{
  padding: 2px 10px;
  font-size: 13px;
  margin: 5px;
}
.chat-box-footer .footer-options li.option a{
  font-size: 16px;
}
.history-call .history-call-contact{
  font-size: 15px;
  font-weight: 700;
}
.history-call .history-call-status{
  font-size: 14px;
}
.history-call .history-call-icon{
  width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
}
.ringing-info{
  font-size: 15px;
  text-align: left;
}
.avatar-image.lg{
  width: 58px;
    height: 58px;
    line-height: 58px;
}
.avatar-image.lg img{
  width: 100%;
}
.ringing-call .ringing-actions {
    gap: 8px;
}

}


@media (max-width: 992px) {
.dash-chat #open-contacts,
.dash-chat #close-contacts,
.chat-attachment #close-agreements,
.dash-chat #open-agreements {
  display: block;
}
.dash-chat #contacts {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    display: flex;
    z-index: -11;
    opacity: 0;
    transition: all .4s linear;
    padding-right: 0px;
  }
.dash-chat #attachment {
    position: absolute;
    top: 0;
    right: 0%;
    height: 100%;
    display: flex;
    z-index: -11;
    opacity: 0;
    transition: all .4s linear;
    padding-left: 0px;
  }
.dash-chat .show {
   z-index: 11!important;
   opacity: 1!important;
  }
.dash-chat .dash-contacts,.dash-chat .chat-attachment{
  height: 100%;
}
.dash-contacts,.dash-chat .chat-attachment{
  width: 70%;
}
.overlay{
  width: 30%;
  background-color: rgba(0, 0, 0, 0.267);
}
.dash-chat .chat-box{
  z-index: 5;
}
.dash-chat .chat-attachment {
    margin-top:  0;

}

}







@media (max-width: 750px) {
  .chat-box-header {
    flex-wrap: wrap;
  }

  .chat-box-header .avatar-image {
    order: 1;
  }

  .chat-box-header .chat-box-contact {
    order: 2;
  }

  .chat-box-header .chat-box-order {
    order: 3;
  }

  .chat-box-header .break {
    flex-basis: 100%;
    order: 4;
    margin-bottom: 10px;
  }

  .chat-box-header #open-contacts {
    order: 5;
  }

  .chat-box-header #open-agreements {
    order: 6;
  }

  .chat-box-header .dash-has-menu {
    order: 3;
  }

  .chat-box .chat-box-contact {
    padding-right: 15px;
  }

  .chat-box-header .dash-btn.sm {
    padding: 12px 12px;
  }

  .chat-box-header {
    padding: 10px;
  }

  .chat-box .chat-box-content {
    padding: 10px;
  }

  .chat-box .chat-box-sender,
  .chat-box .chat-box-reciver {
    flex-wrap: wrap;
  }

  .chat-box .content-order-details,
  .chat-box .content-chat-text {
    flex-grow: 1;
    width: 100%;
    margin: 10px 0;
    border-radius: 4px;
  }

  .chat-box .send-message-time {
    flex-basis: 100%;
    text-align: right;
  }

  .chat-box .content-chat-images .image {
    max-width: 110px;
  }
}
@media (max-width: 576px) {
.dash-contacts,.dash-chat .chat-attachment{
  width: 90%;
}
.overlay{
  width: 10%;
  background-color: rgba(0, 0, 0, 0.267);
}

}

.dash-menu-links {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  margin-right: 100px;
}

.dash-menu-item {
  padding: 10px 0;
}

.dash-menu-link {
  color: #9d9d9d;
  font-size: 18px;
  text-transform: capitalize;
}

.dash-menu-link:hover,
.dash-menu-link:focus {
  color: #4e1b56;
}

.dash-menu-link.router-link-exact-active,
.dash-menu-link.router-link-active {
  color: #4e1b56;
  font-weight: bold;
}

.dash-menu-link.active {
  font-size: 18px;
  color: #4e1b56;
}

.dash-has-menu {
  position: relative;
}

.dash-sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 300px;
  background-color: #fff;
  padding: 10px 0;
  display: none;
  transition: all 1s ease;
  z-index: 20;
}

.dash-sub-menu li a {
  font-size: 18px;
  color: #040506;
  width: 100%;
  display: block;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-left: 0px solid #3eadb7;
  position: relative;
  text-align: left;
}

.dash-sub-menu li a span {
  width: 100%;
  height: 2px;
  background-color: #3eadb758;
  position: absolute;
  top: 98%;
  left: -100%;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.1s;
}
.dash-sub-menu li a:hover {
  background-color: inherit;
  border-left: 3px solid #3eadb7;
}
.dash-sub-menu li a:hover span {
  left: 0;
}
